{% extends 'core/base.html' %}

{% block title %} Поиск {% endblock %}


{% block content %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
         <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium mb-2">
                <h1 class="title is-2">Результаты поиска</h1>
                <h3>Поиск по запросу: <strong>"{{ query }}"</strong></h3>
              </div>
                {% for post in posts %}
                  <div class="content is-medium">
                    <a href="{% url 'post_detail' post.category.slug post.slug %}">
                        <h2 class="subtitle is-4">{{ post.created_at|date:'d-m-Y' }}</h2>
                        <h1 class="title">{{ post.title }}</h1>
                        <p>{{ post.intro }}</p>
                    </a>
                  </div>
                {% empty %}
                    <div class="content">
                        <p>По вашему запросу ничего не нашлось...</p>
                    </div>
                {% endfor %}
            </div>
          </div>
          </section>
      </div>
    </div>
  </section>
{% endblock%}